@media (max-width: 614px) {
    .menu input {
        display: none;
    }

    .menu img {
        margin-right: 0px;
    }
    
    .menu .instagram ion-icon {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
    
    .menu .instagram {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .menu .instagram .mobile {
        display: inline;
    }

    .menu .opcoes {
        display: none;
    }

    main {
        width: 100%;

        margin-top: 54px;
        margin-bottom: 54px;
    }

    .stories {
        height: auto;

        border: 0;
        padding: 17px 0 18px 18px;
        margin-bottom: 0;

        background-color: inherit;
    }

    .stories ion-icon {
        display: none;
    }

    .footer {
        width: 100%;
        height: 54px;

        padding: 0 17px;

        border: 1px solid #dbdbdb;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;

        z-index: 100;

        background-color: rgb(255, 255, 255, 1);
    }
}